@page "{id:int}"
@model MoneyManager.Pages.Pages.Transacao.Delete

<link rel="stylesheet" href="~/lib/css/estilo.css"/>

<div class="home">
    <div align="center">
        <h1>Deseja realmente remover?</h1>

        <p><strong>Nome:</strong> @Model.TransacaoModel.Nome </p>
        <p><strong>Descrição:</strong> @Model.TransacaoModel.Descricao </p>
        <form method="post">
            <div class="botao">
                <input type="submit" value="Sim" class="btn btn-danger"/>
                <a asp-page="/Transacao/Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>
