@page "{id:int}"
@model MoneyManager.Pages.Pages.Transacao.Edit

<link rel="stylesheet" href="~/lib/css/estilo.css"/>

<div class="home">
    <h1>Alterar Dados da Transação</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-dange"></div>
                <input type="hidden" asp-for="TransacaoModel.TransacaoID" />
                <div class="form-group">
                    <label asp-for="TransacaoModel.Nome"></label>
                    <input asp-for="TransacaoModel.Nome" class="form-control" />
                    <span asp-validation-for="TransacaoModel.Nome" class="text-dange"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="TransacaoModel.Descricao"></label>
                    <input asp-for="TransacaoModel.Descricao" class="form-control"></textarea>
                    <span asp-validation-for="TransacaoModel.Descricao" class="text-dange"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="TransacaoModel.Valor"></label>
                    <input asp-for="TransacaoModel.Valor" class="form-control" />
                    <span asp-validation-for="TransacaoModel.Valor" class="text-dange"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="TransacaoModel.Categoria.Nome"></label>
                    <select asp-for="TransacaoModel.CategoriaID" asp-items="Model.CategoriaList">
                        <option value="">Selecione uma categoria</option>
                    </select>
                    <span asp-validation-for="TransacaoModel.CategoriaID" class="text-dange"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="TransacaoModel.Data"></label>
                    <input asp-for="TransacaoModel.Data" class="form-control" />
                    <span asp-validation-for="TransacaoModel.Data" class="text-dange"></span>
                </div>
                <br />
                <div class="botao">
                    <input type="submit" class="btn btn-primary" value="Salvar" />
                    <a asp-page="/Transacao/Index" class="btn btn-secondary"> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
