@page
@model MoneyManager.Pages.Pages.Index
@using System.Globalization

<link rel="stylesheet" href="~/lib/css/estilo.css"/>

<div class="home">
<h1>Sistema de Gerenciamento Financeiro</h1>

<img class = "img-rest" src="~/images/img-moneymanager.png" width="512" height="512" >


</div>


    
