
<style>
    .nav-link {
        justify-items: center;
        align-items: center;
        padding-top: 30px
        
    }
    nav{
        padding-bottom: 20px;
    }
</style>

<nav class="navbar navbar-expand bg-black navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <a href= "/Index">
                <img src="~/images/logo.png" width="80" height="80">
            </a>
            <li class="nav-item"><a class="nav-link"asp-page="/Dashboard/Index" class="nav-link" aria-current="page">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link"asp-page="/Categoria/Index" class="nav-link" aria-current="page">Categoria</a></li>
            <li class="nav-item"><a class="nav-link"asp-page="/Transacao/Index" class="nav-link" aria-current="page">Transacoes</a></li>
        </ul> 
    </div>
</nav>
