@page "{id:int}"
@model MoneyManager.Pages.Pages.Categoria.Details

<link rel="stylesheet" href="~/lib/css/estilo.css"/>

<div class="home">
<h1>Detalhes da Categoria: @Model.CategoriaModel.Nome</h1>

<div class="info">
    <p><strong>Nome: </strong> @Model.CategoriaModel.Nome </p>
    <p><strong>Descrição: </strong> @Model.CategoriaModel.Descricao </p>
    <div aling="center"><a  class="btn btn-sm btn-primary" asp-page="Index"> Voltar </a></div>
</div>
</div>
