@page "{id:int}"
@model MoneyManager.Pages.Pages.Categoria.Edit

<link rel="stylesheet" href="~/lib/css/estilo.css" />

<div class="home">
    <h1>Alterar Dados da Categoria</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-dange"></div>
                <input type="hidden" asp-for="CategoriaModel.CategoriaID" />
                <div class="form-group">
                    <label asp-for="CategoriaModel.Nome"></label>
                    <input asp-for="CategoriaModel.Nome" class="form-control" />
                    <span asp-validation-for="CategoriaModel.Nome" class="text-dange"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="CategoriaModel.Descricao"></label>
                    <input asp-for="CategoriaModel.Descricao" class="form-control" />
                    <span asp-validation-for="CategoriaModel.Descricao" class="text-dange"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="CategoriaModel.Tipo"></label>
                    <select asp-for="CategoriaModel.Tipo" class="form-control">
                        <option value="Despesa">Despesa</option>
                        <option value="Receita">Receita</option>
                    </select>
                    <span asp-validation-for="CategoriaModel.Tipo" class="text-dange"></span>
                </div>
                <br />
                <div class="botao">
                    <input type="submit" class="btn btn-primary" value="Salvar" />
                    <a asp-page="/Categoria/Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
